<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The_voice_of_geeta</title>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/The_voice_of_geeta.styles.css" asp-append-version="true" />
</head>
<body>
    @Html.Partial("_Navbar")
    
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
