<!-- Views/Shared/_Navbar.cshtml -->
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <img src="~/images/Rose.png" alt="Voice of Geeta" />
            <span>Voice of Geeta</span>
        </div>
        <ul class="nav-links">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Shloka", "Home")">Shloka</a></li>
            <li><a href="@Url.Action("Vedas", "Home")">Vedas</a></li>
            <li><a href="@Url.Action("Teachings", "Home")">Teachings</a></li>
        </ul>
        <div class="profile-icon">
            <img src="~/images/profile-icon.png" alt="" />
        </div>
    </div>
</nav>
