<!-- Views/Shared/_Navbar.cshtml -->
<head>
    <link rel="stylesheet" href="~/css/navbar.css" />
</head>

<nav class="navbar">
    <div class="container">
        <div class="logo">
            <img src="~/images/Rose.png" alt="Voice of Geeta" />
            <span>Voice of Geeta</span>
        </div>
        <!-- Hamburger Menu for Mobile -->
        <div class="menu-toggle" onclick="toggleMenu()">
            ☰
        </div>
        <ul class="nav-links">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Adhyay", "Home")">Adhyay</a></li>
            <li><a href="@Url.Action("vedas", "Home")">Vedas</a></li>
            <li><a href="@Url.Action("Teachings", "Home")">Teachings</a></li>
            

        </ul>
        <div class="profile-icon">
            <img src="~/images/profile.png" alt="" />

        </div>
    </div>
</nav>

<script>
    function toggleMenu() {
        document.querySelector('.nav-links').classList.toggle('active');
    }
</script>