<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhagavad Gita Shlokas</title>
    <link rel="stylesheet" type="text/css" href="~/css/Adhyay.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="container">
            <h1 class="title">
                📜 Bhagavad Geeta Shlokas
            </h1>
            <p class="subtitle">
                Self-Discipline & Control (Mind Mastery) – Control desires and emotions; they should not control you.
            </p>

            <div class="shloka-grid">
                <!-- Shloka Card 1 -->
                <div class="shloka-card">
                    <h2>Adhyay 1</h2>
                    <img src="\images\adhyay1.jpg" alt="Adhyay 1">
                    <button class="video-btn" >📹</button>
                    <button class="audio-btn" >🎤</button>
                </div>

                <!-- Shloka Card 2 -->

                <div class="shloka-card">
                    <h2>Adhyayaaa 2</h2>
                    <img src="\images\adhyay2.jpg" alt="Adhyay 2">
                    <button class="video-btn" >📹</button>
                    <button class="audio-btn">🎤</button>
                </div>

                <!-- Shloka Card 3 -->
                <div class="shloka-card">
                    <h2>Adhyay 3</h2>
                    <img src="\images\adhyay3.jpg" alt="Adhyay 3">
                    <button class="video-btn" >📹</button>
                    <button class="audio-btn" >🎤</button>
                </div>

                <!-- Shloka Card 4 -->
                <div class="shloka-card">
                    <h2>Adhyay 4</h2>
                    <img src="\images\adhyay4.jpg" alt="Adhyay 4">
                    <button class="video-btn" >📹</button>
                    <button class="audio-btn" >🎤</button>
                </div>

                <!-- Shloka Card 5 -->
                <div class="shloka-card">
                    <h2>Adhyay 5</h2>
                    <img src="\images\adhyay5.jpg" alt="Adhyay 5">
                    <button class="video-btn" >📹</button>
                    <button class="audio-btn" >🎤</button>
                </div>

                <!-- Shloka Card 6 -->
                <div class="shloka-card">
                    <h2>Adhyay 6</h2>
                    <img src="\images\adhyay6.jpg" alt="Adhyay 6">
                    <button class="video-btn" >📹</button>
                    <button class="audio-btn" >🎤</button>
                </div>
                
            </div>
        </div>
    </form>
</body>
</html>