<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhagavad Gita Shlokas</title>
    <link rel="stylesheet" type="text/css" href="~/css/Adhyay.css" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="container">
            <h1 class="title">
                📜 Bhagavad Geeta Shlokas
            </h1>
            <p class="subtitle">
                Self-Discipline & Control (Mind Mastery) – Control desires and emotions; they should not control you.
            </p>

            <div class="shloka-grid">
                <!-- Shloka Card 1 -->
                <div class="shloka-card">
                    <h2>Adhyay 1</h2>
                    <img src="\images\adhyay1.jpg" alt="Adhyay 1">
                    <p>जीवन के कठिन निर्णयों से भागने के बजाय, सही ज्ञान और कर्तव्य के आधार पर उनका सामना करना चाहिए</p>
                </div>

                <!-- Shloka Card 2 -->
                <div class="shloka-card">
                    <h2>Adhyay 2</h2>
                    <img src="\images\adhyay2.jpg" alt="Adhyay 2">
                    <p>कठिनाइयों का निवारण एक मात्र सच्चा ज्ञान था।</p>
                </div>

                <!-- Shloka Card 3 -->
                <div class="shloka-card">
                    <h2>Adhyay 3</h2>
                    <img src="\images\adhyay3.jpg" alt="Adhyay 3">
                    <p>कर्म करना ही जीवन का धर्म है, किन्तु फल की चिंता किए अपने कर्तव्य का पालन करना ही सच्चा योग है</p>
                </div>

                <!-- Shloka Card 4 -->
                <div class="shloka-card">
                    <h2>Adhyay 4</h2>
                    <img src="\images\adhyay4.jpg" alt="Adhyay 4">
                    <p>सच्चा ज्ञान हमें निष्काम कर्म की ओर ले जाता है, जिससे जीवन धन्य और मुक्त हो जाता है</p>
                </div>

                <!-- Shloka Card 5 -->
                <div class="shloka-card">
                    <h2>Adhyay 5</h2>
                    <img src="\images\adhyay5.jpg" alt="Adhyay 5">
                    <p>सच्चा संन्यास कर्म से भागना नहीं, बल्कि निष्काम भाव से कर्तव्य निभाना ही मोक्ष का मार्ग है</p>
                </div>

                <!-- Shloka Card 6 -->
                <div class="shloka-card">
                    <h2>Adhyay 6</h2>
                    <img src="\images\adhyay6.jpg" alt="Adhyay 6">
                    <p>सच्चा योग वही है जो मन को स्थिर कर, अपने आत्मा को परमेश्वर के ध्यान और अर्पण करता है</p>
                </div>
            </div>
        </div>
    </form>
</body>
</html>